body {
	background-color: #313131;
/*	color: #d7d7d7;	*/
	color: #ffffff;
}

/* Inherit Backgrounds */
a, a.new, a.mally, a.mdead, a.proflinkdk, a:hover {
        background: inherit;
}

a {	color: #d7d7d7;		}

a:hover {
	color: #aaaaaa;
	background-color: #262626;
}

a.new {		color: #aaaaaa;		}
a.mally {	color: #404040;		}
a.mdead {	color: #aaaaaa;		}
a.mnormal {	color: #000000;		background: inherit		}
a.undecorated {	color: #000000;		background: inherit;		}
a.undecorated:hover {
	color: #ffffff;
	background: #000000;
}
a.proflinkdk {
	color: #ffffff;
	text-decoration: underline;
}

table {		border: #ffffff 0px solid;	}
.guide th {
	color: #ffffff;
	background: url("img/inv-gray-cellpic1.gif");
}

.menus td {
        color: #ffffff;
        background: url("img/inv-gray-cellpic3.gif");
}
.menus th {
        color: #ffffff;
        background: url("img/inv-gray-cellpic1.gif");	
}
.stbl {
	border: #ffffff 1px solid;
}
.stocks{
	border: #ffffff 1px solid;
}

.stocks {
	background-color: #222222;
	color: inherit;
}

.inputtable td {
	color: #ffffff;
	
}
.inputtable th {
	color: #ffffff;
	background: url("img/inv-gray-cellpic1.gif");
}

.race th {
	color: #ffffff;
	background: url("img/inv-gray-cellpic1.gif");
}

.chatusers {
	background-color:       #313131;
	color:			inherit;
}

.selectedusers {
	background-color:       #5b5b5b;
	color: inherit;
}


.mnormal {	color: #ffffff;	background: inherit;	}
.mdisabled {	color: #393939;	background: inherit;	}
.mself {	color: #b5b5b5;	background: inherit;	}
.mprotected {	color: #bababa;	background: inherit;	}
.mgood {	color: #999999;	background: inherit;	}
.mally {	color: #d1d1d1;	background: inherit;	}
.mdead {	color: #aaaaaa;	background: inherit;	}
.madmin {	color: #4d4d4d;	background: inherit;	}

.cgood {	color: #999999;	background: inherit;	}
.cwarn {	color: #393939;	background: inherit;	}
.cbad {		color: #aaaaaa;	background: inherit;	}
.cneutral {	color: #ffffff;	background: inherit;	}

.era0 {
	color: #000000;
	background-color: #949494;
	background: url("img/inv-gray-gradient.gif");
}
.era1 {
	color: #000000;
	background-color: #949494;
	background: url("img/inv-gray-cellpic1.gif");
}
.era2 {
	color: #000000;
	background-color: #dfdfdf;
	background: url("img/inv-gray-cellpic1.gif");
}
.era3 {
	color: #000000;
	background-color: #d4d4d4;
	background: url("img/inv-gray-cellpic1.gif");
}


input {
	background: #262626;
	border: #9e9e9e 1px solid;
	color: #ffffff;
}

select {
	background-color: #262626;
	color: #ffffff;
}
.dkbg {
	background-color: #262626;
	color: #ffffff;
}
textarea {
	background: #262626;
	border: #9e9e9e 1px solid;
	color: #ffffff;
}

.dark {
	background-color: inherit;
	color: #ffffff;
}


/**** Stuff for Forums ****/

/* Caption 1 (the one for displaying sub-headers like "topics, posted" etc) */
td.caption1 {
	border: none;
	background-color: inherit;
	color: inherit;
}

/* Caption 2 color and properties (this one displaying main menu,  New Topic text bg, New Message text bg) */
td.caption2 {
	background: url("img/inv-gray-cellpic1.gif");
	background-color: #2c2c2c;
	border: none;
	color: inherit;
}

/* Caption 3 (used for Last Discussions, topic titles, Forums selection) */
td.caption3 {
	background: url("img/inv-gray-cellpic1.gif");
	background-color: #d2d2d2;
	border: none;
	color: inherit;
}

/* Caption 4 (the one for displaying not separate headers like Forum, Topic, Poster etc., Buttons menu, left info cell) */
td.caption4 {
	background: url("img/inv-gray-cellpic1.gif");
	background-color: #cbcbcb;
	border: none;
	color: inherit;
}

/* Caption 5 (used for user input like password/login and registration etc) */
td.caption5 {
	border: none;
	background-color: inherit;
	color: inherit;
}

/* Caption 6 (this one is for displaying title headers (language, search). The same color as caption2, but different font size) */
td.caption6 {
	background-color: #d2d2d2;
	border: none;
	color: inherit;
}

/* Topics/forums/threads content cell color 1 */
.tbCel1{
/*	 background: url("img/inv-gray-cellpic3.gif");	*/
	background-color: #242424;
	color: inherit;
}

/* Topics/forums/threads content cell color 2 */
.tbCel2{
/*	background: url("img/inv-gray-cellpic3.gif");	*/
	background-color: #181818;
	color: inherit;
}

/* General smart tables class */
table.forums {
/*	color: #5f5f5f;*/
} 

