body {
	background-color: #392139;
/*	color: #88ffff;	*/
	color: #ffffff;
}

/* Inherit Backgrounds */
a, a.new, a.mally, a.mdead, a.proflinkdk, a:hover {
        background: inherit;
}

a {	color: #88ffff;		}

a:hover {
	color: #00ffff;
	background-color: #320d32;
}

a.new {		color: #00ffff;		}
a.mally {	color: #204060;		}
a.mdead {	color: #ffff00;		}
a.mnormal {	color: #000000;		background: inherit		}
a.undecorated {	color: #000000;		background: inherit;		}
a.undecorated:hover {
	color: #ffffff;
	background: #000000;
}
a.proflinkdk {
	color: #ffffff;
	text-decoration: underline;
}

table {		border: #ffffff 0px solid;	}
.guide th {
	color: #ffffff;
	background: url("img/inv-forest-cellpic1.gif");
}

.menus td {
        color: #ffffff;
        background: url("img/inv-forest-cellpic3.gif");
}
.menus th {
        color: #ffffff;
        background: url("img/inv-forest-cellpic1.gif");	
}
.stbl {
	border: #ffffff 1px solid;
}
.stocks{
	border: #ffffff 1px solid;
}

.stocks {
	background-color: #330033;
	color: inherit;
}

.inputtable td {
	color: #ffffff;
	
}
.inputtable th {
	color: #ffffff;
	background: url("img/inv-forest-cellpic1.gif");
}

.race th {
	color: #ffffff;
	background: url("img/inv-forest-cellpic1.gif");
}

.chatusers {
	background-color:       #392139;
	color:			inherit;
}

.selectedusers {
	background-color:       #777722;
	color: inherit;
}


.mnormal {	color: #ffffff;	background: inherit;	}
.mdisabled {	color: #aa0000;	background: inherit;	}
.mself {	color: #44eded;	background: inherit;	}
.mprotected {	color: #dd74dd;	background: inherit;	}
.mgood {	color: #cd32cd;	background: inherit;	}
.mally {	color: #a6ebe2;	background: inherit;	}
.mdead {	color: #ffff00;	background: inherit;	}
.madmin {	color: #668000;	background: inherit;	}

.cgood {	color: #cd32cd;	background: inherit;	}
.cwarn {	color: #aa0000;	background: inherit;	}
.cbad {		color: #ffff00;	background: inherit;	}
.cneutral {	color: #ffffff;	background: inherit;	}

.era0 {
	color: #000000;
	background-color: #9fcf4f;
	background: url("img/inv-forest-gradient.gif");
}
.era1 {
	color: #000000;
	background-color: #9fcf4f;
	background: url("img/inv-forest-cellpic1.gif");
}
.era2 {
	color: #000000;
	background-color: #ffa0ff;
	background: url("img/inv-forest-cellpic1.gif");
}
.era3 {
	color: #000000;
	background-color: #7fffff;
	background: url("img/inv-forest-cellpic1.gif");
}


input {
	background: #21262a;
	border: #9d9f9f 1px solid;
	color: #ffffff;
}

select {
	background-color: #21262a;
	color: #ffffff;
}
.dkbg {
	background-color: #21262a;
	color: #ffffff;
}
textarea {
	background: #21262a;
	border: #9d9f9f 1px solid;
	color: #ffffff;
}

.dark {
	background-color: inherit;
	color: #ffffff;
}


/**** Stuff for Forums ****/

/* Caption 1 (the one for displaying sub-headers like "topics, posted" etc) */
td.caption1 {
	border: none;
	background-color: inherit;
	color: inherit;
}

/* Caption 2 color and properties (this one displaying main menu,  New Topic text bg, New Message text bg) */
td.caption2 {
	background: url("img/inv-forest-cellpic1.gif");
	background-color: #122f43;
	border: none;
	color: inherit;
}

/* Caption 3 (used for Last Discussions, topic titles, Forums selection) */
td.caption3 {
	background: url("img/inv-forest-cellpic1.gif");
	background-color: #ced3d6;
	border: none;
	color: inherit;
}

/* Caption 4 (the one for displaying not separate headers like Forum, Topic, Poster etc., Buttons menu, left info cell) */
td.caption4 {
	background: url("img/inv-forest-cellpic1.gif");
	background-color: #c6cbcf;
	border: none;
	color: inherit;
}

/* Caption 5 (used for user input like password/login and registration etc) */
td.caption5 {
	border: none;
	background-color: inherit;
	color: inherit;
}

/* Caption 6 (this one is for displaying title headers (language, search). The same color as caption2, but different font size) */
td.caption6 {
	background-color: #ced3d6;
	border: none;
	color: inherit;
}

/* Topics/forums/threads content cell color 1 */
.tbCel1{
/*	 background: url("img/inv-forest-cellpic3.gif");	*/
	background-color: #2e102e;
	color: inherit;
}

/* Topics/forums/threads content cell color 2 */
.tbCel2{
/*	background: url("img/inv-forest-cellpic3.gif");	*/
	background-color: #1e0b1e;
	color: inherit;
}

/* General smart tables class */
table.forums {
/*	color: #655a5e;*/
} 

