body {
	background-color: #dec6c6;
/*	color: #000000;	*/
	color: #000000;
}

/* Inherit Backgrounds */
a, a.new, a.mally, a.mdead, a.proflinkdk, a:hover {
        background: inherit;
}

a {	color: #000000;		}

a:hover {
	color: #000000;
	background-color: #f2cdcd;
}

a.new {		color: #000000;		}
a.mally {	color: #bf9f9f;		}
a.mdead {	color: #00ffff;		}
a.mnormal {	color: #ffffff;		background: inherit		}
a.undecorated {	color: #ffffff;		background: inherit;		}
a.undecorated:hover {
	color: #000000;
	background: #ffffff;
}
a.proflinkdk {
	color: #000000;
	text-decoration: underline;
}

table {		border: #000000 0px solid;	}
.guide th {
	color: #000000;
	background: url("img/magenta-cellpic1.gif");
}

.menus td {
        color: #000000;
        background: url("img/magenta-cellpic3.gif");
}
.menus th {
        color: #000000;
        background: url("img/magenta-cellpic1.gif");	
}
.stbl {
	border: #000000 1px solid;
}
.stocks{
	border: #000000 1px solid;
}

.stocks {
	background-color: #ffcccc;
	color: inherit;
}

.inputtable td {
	color: #000000;
	
}
.inputtable th {
	color: #000000;
	background: url("img/magenta-cellpic1.gif");
}

.race th {
	color: #000000;
	background: url("img/magenta-cellpic1.gif");
}

.chatusers {
	background-color:       #dec6c6;
	color:			inherit;
}

.selectedusers {
	background-color:       #88dddd;
	color: inherit;
}


.mnormal {	color: #000000;	background: inherit;	}
.mdisabled {	color: #ffffff;	background: inherit;	}
.mself {	color: #121212;	background: inherit;	}
.mprotected {	color: #8b2222;	background: inherit;	}
.mgood {	color: #cd3232;	background: inherit;	}
.mally {	color: #141d1d;	background: inherit;	}
.mdead {	color: #00ffff;	background: inherit;	}
.madmin {	color: #7fffff;	background: inherit;	}

.cgood {	color: #cd3232;	background: inherit;	}
.cwarn {	color: #ffffff;	background: inherit;	}
.cbad {		color: #00ffff;	background: inherit;	}
.cneutral {	color: #000000;	background: inherit;	}

.era0 {
	color: #ffffff;
	background-color: #30b0b0;
	background: url("img/magenta-gradient.gif");
}
.era1 {
	color: #ffffff;
	background-color: #30b0b0;
	background: url("img/magenta-cellpic1.gif");
}
.era2 {
	color: #ffffff;
	background-color: #5f0000;
	background: url("img/magenta-cellpic1.gif");
}
.era3 {
	color: #ffffff;
	background-color: #000000;
	background: url("img/magenta-cellpic1.gif");
}


input {
	background: #d9d5d5;
	border: #606060 1px solid;
	color: #000000;
}

select {
	background-color: #d9d5d5;
	color: #000000;
}
.dkbg {
	background-color: #d9d5d5;
	color: #000000;
}
textarea {
	background: #d9d5d5;
	border: #606060 1px solid;
	color: #000000;
}

.dark {
	background-color: inherit;
	color: #000000;
}


/**** Stuff for Forums ****/

/* Caption 1 (the one for displaying sub-headers like "topics, posted" etc) */
td.caption1 {
	border: none;
	background-color: inherit;
	color: inherit;
}

/* Caption 2 color and properties (this one displaying main menu,  New Topic text bg, New Message text bg) */
td.caption2 {
	background: url("img/magenta-cellpic1.gif");
	background-color: #d0bcbc;
	border: none;
	color: inherit;
}

/* Caption 3 (used for Last Discussions, topic titles, Forums selection) */
td.caption3 {
	background: url("img/magenta-cellpic1.gif");
	background-color: #2c2929;
	border: none;
	color: inherit;
}

/* Caption 4 (the one for displaying not separate headers like Forum, Topic, Poster etc., Buttons menu, left info cell) */
td.caption4 {
	background: url("img/magenta-cellpic1.gif");
	background-color: #343030;
	border: none;
	color: inherit;
}

/* Caption 5 (used for user input like password/login and registration etc) */
td.caption5 {
	border: none;
	background-color: inherit;
	color: inherit;
}

/* Caption 6 (this one is for displaying title headers (language, search). The same color as caption2, but different font size) */
td.caption6 {
	background-color: #2c2929;
	border: none;
	color: inherit;
}

/* Topics/forums/threads content cell color 1 */
.tbCel1{
/*	 background: url("img/magenta-cellpic3.gif");	*/
	background-color: #efd1d1;
	color: inherit;
}

/* Topics/forums/threads content cell color 2 */
.tbCel2{
/*	background: url("img/magenta-cellpic3.gif");	*/
	background-color: #f4e1e1;
	color: inherit;
}

/* General smart tables class */
table.forums {
/*	color: #a5a1a1;*/
} 

