body {
	background-color: #4A525A;
	background-image: url("img/rwl-header.jpg");
	background-repeat: repeat-x;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: .80em;
	color: #FFFFFF;
	text-align: center;
	}
table {
	font-size: 1em;
	}
table.menus {
	background-color: #353A3F;
	width: 150px;
	}
table.menus th {
	background-color: #5c594a;
	border: 1px solid #a8a088;
	padding: 3px;
	}
table.menus td {
	padding: 3px;
	}
.aleft { text-align: left; }
.acenter { text-align: center; }
.aright { text-align: right; }

a {
	color: #a8a088;
	}
a:hover {
	color: #f5e9c6;
	}

.empstatus TH { text-align: left; }
.empstatus TD { text-align: right; }

.mnormal { color: white; }
.mdisabled { color: #999E32; }
.mself { color: #999EA2; background-color: #41474E; }
.mally { color: #9FBFDF; }
.mprotected { color: #6F9078; }
.mdead { color: red; }
.madmin { color: #FF7FFF; }

.era0 {
	background-color: #353A3F;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-right: -2px;
	padding: 2px;
	}

.cgood { color: lime; }
.cwarn { color: yellow; }
.cbad { color: red; }
.cneutral { color: white; }

#content {
	width: 815px;
	margin-left: auto;
	margin-right: auto;
	}
.pagecontent {
	float: left;
	width: 650px;
	padding: 5px;
	}
h1 {
	color: #E1CE8D;
	font: bold 48px Arial, Times New Roman, Sans-Serif;
	letter-spacing: 12px;
	line-height: 20px;
	margin-top: 10px;
	text-align: center;
	}
h2 {
	color: #353A3F;
	margin-top: 0px;
	}
h3 {
	color: #DEDEDE;
	border-bottom: 1px solid #353A3F;
	padding: 2px 10px 2px 2px;
	text-align: left;
	}
.pagecontent h1 {
	font-size: 24px;
}
.pagecontent h2 {
	background-color: #353A3F;
	padding: 5px;
	border-bottom: 1px solid black;
	color: #DEDEDE;
}

.inputtable th {
	background-color: #6B757F;
	padding: 2px;
}
body {
	background-color: #4A525A;
	background-image: url("img/rwl-header.jpg");
	background-repeat: repeat-x;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: .80em;
	color: #FFFFFF;
	}
table {
	margin-left: auto;
	margin-right: auto;
}
textarea {
	padding: 4px;
	font-family: Verdana, Arial, Sans-Serif;
	}
tr.era1 td, tr.era2 td, tr.era3 td , tr.era4 td, tr.era5 td, tr.era6 td {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-right: -2px;
	font-size: .80em;
	}
tr.era1 th, tr.era2 th, tr.era3 th , tr.era4 th, tr.era5 th, tr.era6 th {
	border-bottom: 1px solid black;
	margin-right: -2px;
	}
table.menus {
	background-color: #353A3F;
	}
table.menus th {
	background-color: #5c594a;
	border: 1px solid #a8a088;
	padding: 3px;
	}
table.menus td {
	padding: 3px;
	}
.aleft { text-align: left; }
.acenter, th { text-align: center; }
.aright { text-align: right; }
h2.acenter {
	color: #677785;
	}
a {
	color: #a8a088;
	}
a:hover {
	color: #f5e9c6;
	}
table.inputtable {
	float: center;
	}
.inputtable th {
	background-color: #6B757F;
	padding: 2px;
}

.empstatus TH { text-align: left; }
.empstatus TD { text-align: right; }

.mnormal { color: white; }
.mdisabled { color: #999E32; }
.mself { color: #999EA2; background-color: #41474E; }
.mally { color: #9FBFDF; }
.mprotected { color: #6F9078; }
.mdead { color: #F36363; }
.madmin { color: #FF7FFF; }

.cgood { color: lime; }
.cwarn { color: yellow; }
.cbad { color: #F36363; }
.cneutral { color: white; }


.era1, .era4 {
	background-color: #353A3F;
	}
.era2, .era5 {
	background-color: #5c594a;
	}
.era3, .era6 {
	background-color: #697683;
	}

.msg_time {
	background-color: #353A3F;
	padding: 3px;
	border-bottom: 1px solid #697683;
	float: left;
	}
.msg_from {
	padding: 3px;
	text-align: left;
	border-bottom: 1px solid #697683;
	}
.msg {
	border-left: 2px solid #353A3F;
	margin-left: 5px;
	padding-left: 10px;
	text-align: left;
	}
input, textarea, select {
	background-color: #353A3F;
	padding: 2px;
	color: #FFFFFF;
	border: 1px solid #697683;
	}
.dkbg {
	background-color: #353A3F;
	}
.tip {
	background-color: #5c594a;
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 15px;
	padding: 3px;
	}
.tiptitle {
	background-color: #353A3F;
	border-bottom: 1px solid #a8a088;
	padding: 3px;
	margin: -3px -3px 0px -3px;
	font-size: 1.2em;
	}
h2 {
	background-color: #353A3F;
	padding: 5px;
	border-bottom: 1px solid black;
	color: #DEDEDE;
}
h2.acenter {
	background-color: transparent;
	border: none;
	padding: 0px;
	}
.acenter .menus td {
	border-bottom: 1px solid #4A525A;
	}
