
<script language="JavaScript">

function updateMsgNames() {
	msgnum = document.frmmsg.msg_dest_num.value;
	nchanged = true
	for (i = 0; i < document.frmmsg.msg_dest.options.length; i++) {
		 if (document.frmmsg.msg_dest.options[i].value == msgnum) {
			document.frmmsg.msg_dest.options[i].selected = true;
			nchanged = false;
		}
	}
}
function updateMsgNums() {
	document.frmmsg.msg_dest_num.value = document.frmmsg.msg_dest.value;
}


function checkAll (check){
	var path = document.frmmsg;
	for (var i=0;i<path.elements.length;i++) {
		e = path.elements[i];
		checkname = "maxall";
		if(check==2) checkname = "maxall2";
		if( (e.name!=checkname)  && (e.type=="checkbox") && (e.name!="hide_turns") ) {
			 e.checked = path.maxall.checked;
			 if(check==2) e.checked = path.maxall2.checked;
		}
	 }
}
</script>


<big><b>Sending Aid</b></big><br><br>
Sending aid requires 2 turns and at least <?php echo gamefactor($convoy); ?> <?php echo $sendtroop["name"]; ?>.<br>
We can send up to <?php echo $users["aidcred"]; ?> shipments.<br>
We can send an additional shipment every hour.<br><br>
<form method="post" action="?aid<?php echo $authstr; ?>" name="frmmsg">
<table class="inputtable">
<tr>
      <td colspan="2" class="aright">Send aid to which <?php echo $uera["empire"]; ?>?</td>
    <td colspan="3"><input type="text" name="msg_dest_num"  value="<?php echo $prof_target; ?>" size="3" maxlength="4" onChange="updateMsgNames()">
<select name="msg_dest" onClick="updateMsgNums()" class="dkbg">
	<?php foreach($drop as $dropsel): ?>
		<option value="<?php echo $dropsel["num"]; ?>" class="m<?php echo $dropsel["color"]; ?>"<?php if($prof_target == $dropsel["num"]): ?> selected <?php endif; ?>><?php echo $dropsel["num"]; ?> - <?php echo $dropsel["name"]; ?></option>
	<?php endforeach; ?>
</select>

</select>
</td></tr>
<tr class="inputtable2"><th class="aleft">Unit</th>
    <th class="aright">Owned</th>
    <th class="aright">Can Send</th>
    <th class="aright">Send</th>
    <th class="aright">Max <input type="checkbox" name="maxall" onClick="checkAll(1)"></th></tr>
<?php /*Print Row*/ ?>
<?php foreach($row as $i): ?>
 	<tr><td><?php echo $i["name"]; ?></td>
	    <td class="aright"><?php echo gamefactor($i["owned"]); ?></td>
	    <td class="aright"><?php echo gamefactor($i["canSend"]); ?></td>
	    <td class="aright"><input type="text" name="send[<?php echo $i["type"]; ?>]" size="8" value="<?php if($i["type"] == $sendtroop.handle): ?><?php echo gamefactor($convoy); ?><?php endif; ?>"></td>
	    <td class="aright"><input type="checkbox" name="max[<?php echo $i["type"]; ?>]" value="<?php echo $i["type"]; ?>"></td>
	</tr>
<?php endforeach; ?>

<tr><td colspan="5" class="acenter"><input type="submit" name="do_sendaid" value="Send Assistance"></td></tr>
<tr><td colspan="5" class="acenter">Condense turns?<input type="checkbox" name="hide_turns" <?php echo $cnd; ?>></td></tr>
</table>
</form>
