{literal}
<script language="JavaScript">

function updateMsgNames() {
	msgnum = document.frmmsg.msg_dest_num.value;
	nchanged = true
	for (i = 0; i < document.frmmsg.msg_dest.options.length; i++) {
		 if (document.frmmsg.msg_dest.options[i].value == msgnum) {
			document.frmmsg.msg_dest.options[i].selected = true;
			nchanged = false;
		}
	}
}
function updateMsgNums() {
	document.frmmsg.msg_dest_num.value = document.frmmsg.msg_dest.value;
}


function checkAll (check){
	var path = document.frmmsg;
	for (var i=0;i<path.elements.length;i++) {
		e = path.elements[i];
		checkname = "maxall";
		if(check==2) checkname = "maxall2";
		if( (e.name!=checkname)  && (e.type=="checkbox") && (e.name!="hide_turns") ) {
			 e.checked = path.maxall.checked;
			 if(check==2) e.checked = path.maxall2.checked;
		}
	 }
}
</script>
{/literal}

<big><b>Sending Aid</b></big><br><br>
Sending aid requires 2 turns and at least {$convoy|gamefactor} {$sendtroop.name}.<br>
We can send up to {$users.aidcred} shipments.<br>
We can send an additional shipment every hour.<br><br>
<form method="post" action="?aid<?php echo $authstr; ?>" name="frmmsg">
<table class="inputtable">
<tr>
      <td colspan="2" class="aright">Send aid to which {$uera.empire}?</td>
    <td colspan="3"><input type="text" name="msg_dest_num"  value="<?php echo $prof_target; ?>" size="3" maxlength="4" onChange="updateMsgNames()">
<select name="msg_dest" onClick="updateMsgNums()" class="dkbg">
	{section name=dropsel loop=$drop}
		<option value="{$drop[dropsel].num}" class="m{$drop[dropsel].color}"{if $prof_target == $drop[dropsel].num} selected {/if}>{$drop[dropsel].num} - {$drop[dropsel].name}</option>
	{/section}
</select>

</select>
</td></tr>
<tr class="inputtable2"><th class="aleft">Unit</th>
    <th class="aright">Owned</th>
    <th class="aright">Can Send</th>
    <th class="aright">Send</th>
    <th class="aright">Max <input type="checkbox" name="maxall" onClick="checkAll(1)"></th></tr>
{*Print Row*}
{section name=i loop=$row}
 	<tr><td>{$row[i].name}</td>
	    <td class="aright">{$row[i].owned|gamefactor}</td>
	    <td class="aright">{$row[i].canSend|gamefactor}</td>
	    <td class="aright"><input type="text" name="send[{$row[i].type}]" size="8" value="{if $row[i].type == $sendtroop.handle}{$convoy|gamefactor}{/if}"></td>
	    <td class="aright"><input type="checkbox" name="max[{$row[i].type}]" value="{$row[i].type}"></td>
	</tr>
{/section}

<tr><td colspan="5" class="acenter"><input type="submit" name="do_sendaid" value="Send Assistance"></td></tr>
<tr><td colspan="5" class="acenter">Condense turns?<input type="checkbox" name="hide_turns" <?php echo $cnd; ?>></td></tr>
</table>
</form>
