<?php if($GLOBALS["do_build"] != ""): ?>
You built <span class="cgood"><?php echo commas($GLOBALS["totalbuild"]); ?></span> total structures in <span class="cwarn"><?php echo commas($GLOBALS["turns"]); ?></span> turns and spent <span class="cgood">$<?php echo commas(gamefactor($GLOBALS["totalspent"])); ?></span>.<hr>
<?php endif; ?>

<big><b>Build Structures</b></big><br><br>
Each structure consumes one acre of free land and costs approximately $<?php echo commas(gamefactor($GLOBALS["buildcost"])); ?> to build.<br>
You can build <?php echo commas($GLOBALS["buildrate"]); ?> structures per turn.<br>
With our resources, we can build <span class="cgood"><?php echo commas($GLOBALS["canbuild"]); ?></span> structures.<br><br>
<form method="post" action="?build<?php echo $GLOBALS["authstr"]; ?>" name="build">
<table class="inputtable">
<?php /* Header */ ?>
<tr><td colspan="2" class="aleft"><a href='?build<?php echo $GLOBALS["authstr"]; ?>'>Build</a></td>
    <td colspan="3" class="aright"><a href='?demolish<?php echo $GLOBALS["authstr"]; ?>'>Demolish</a></td></tr>
<tr class="inputtable2"><th class="aleft">Structure</th>
    <th class="aright">We Own</th>
    <th class="aright">We Can Build</th>
    <th class="aright">Build</th>
    <th class="aright">Max</th></tr>

    <?php /* Printing row stuffs */ ?>
    <?php foreach($GLOBALS["dbuild"] as $loop_i): ?>
        <tr><td><?php echo $loop_i["name"]; ?></td>
        <td class="aright"><?php echo $loop_i["userAmount"]; ?></td>
        <td class="aright"><?php echo $loop_i["canBuild"]; ?></td>
        <td class="aright"><input type="text" name="build[<?php echo $loop_i["type"]; ?>]" size="5" value="0"></td>
        <td class="aright"><input type="checkbox" name="max[<?php echo $loop_i["type"]; ?>]" value="<?php echo $loop_i["type"]; ?>"></td></tr>
    <?php endforeach; ?>
    <?php /* Footer */ ?>

 <tr><td>Unused Land</td>
     <td class="aright"><?php echo commas($GLOBALS["users"][freeland]); ?></td>
     <td colspan="2"></td></tr>
 <tr><td colspan="5" class="acenter"><input type="submit" name="do_build" value="Begin Construction"></td></tr>
 <tr><td colspan="5" class="acenter">Condense turns?<input type="checkbox" name="hide_turns"<?php echo $GLOBALS["cnd"]; ?>></td></tr>
 </table>
 </form>
 <br>
