From this menu, we can join a clan to possibly offer some protection.<br>
<form method="post" action="?clanjoin<?php echo $authstr; ?>">
<table class="inputtable">
<tr><th colspan="2">Join a Clan</th></tr>
<tr><td class="aright">Clan:</td>

<?php if($numcs == 0): ?>
        <td colspan="2"><b>No Clans</b></td></tr>
<?php else: ?>
	<td><select name="join_num" size="1">
	<?php foreach($ccs as $list): ?>
		<option value="<?php echo $list["num"]; ?>"><?php echo $list["tag"]; ?> - <?php echo $list["name"]; ?></option>
	<?php endforeach; ?>
	</select></td></tr>
<?php endif; ?>

<tr><td class="aright">Password:</td>
    <td><input type="password" name="join_pass" size="8"></td></tr>
<tr><td colspan="2" class="acenter"><input type="submit" name="do_joinclan" value="Join Clan"></td></tr>
<tr><td><br></td></tr>

<tr><th colspan="2">Open Clans</th></tr>
<tr><td class="aright">Clan:</td>
<?php if($numocs == 0): ?>
        <td colspan="2"><b>No open Clans</b></td></tr>
<?php else: ?>
	<td><select name="signup_clan" size="1">
		<option value="0">No Clan Selected</option>
	<?php foreach($ocs as $list): ?>
	        <option value="<?php echo $list["num"]; ?>"><?php echo $list["tag"]; ?> - <?php echo $list["name"]; ?></option>
	<?php endforeach; ?>
	</select></td></tr>
<?php endif; ?>

<tr><td colspan="2" class="acenter"><input type="submit" 
name="do_joinopenclan" value="Join Clan"></td></tr>
</table>
</form>
<br><br>
<a href="?clanstats&amp;sort_type=avgnet<?=$authstr?>">Top Clans by Average Networth</a><br>
<a href="?clanstats&amp;sort_type=totalnet<?=$authstr?>">Top Clans by Total Networth</a><br>
<a href="?clanstats&amp;sort_type=members<?=$authstr?>">Top Clans by Membership</a><br>
