<table class="menus" style="width:100%">
<tr class="inputtable2"><th style="text-align: center">Tag</th>
    <th style="text-align: center">Name</th>
    <th style="text-align: center">Leader</th>
    <th style="text-align: center">Assistant Leader</th>
    <th style="text-align: center">Scout/Diplomat 1</th>
    <th style="text-align: center">Scout/Diplomat 2</th>
</tr>

<?php foreach($clans as $con): ?>
<tr>
    <td><a href="?clancrier&sclan=<?php echo $con["num"]; ?><?php echo $authstr; ?>"><?php echo $con["tag"]; ?></a></td>
    <td><?php echo $con["name"]; ?></td>
    <td><?php echo $con["founder"]; ?></td>
    <td><?php echo $con["asst"]; ?></td>
    <td><?php echo $con["fa1"]; ?></td>
    <td><?php echo $con["fa2"]; ?></td>
</tr>
<?php endforeach; ?>

</table>
