<table width="100%">
<tr><td style="text-align:left">
<a href="http://promisance.sf.net/" target="_blank">Promisance</a>&trade; v1.1 - Copyright &copy; 1999-2002 by <a href="mailto:ppurgett@netwurx.net">PC Purgett</a><br>
<hr>
QM Promisance code written by <a href="mailto:quietust@ircn.org">The Quietust</a> and <a href="mailto:lord_of_fire1@yahoo.com">Morvandium</a><br>
Based on code from <a href="http://prom.ezclan.net" target="_blank">EZClan Promisance</a>, by <a href="mailto:Inferno@ezclan.com">Tom Finnell</a> and <a href="mailto:mambo@usimp.com">Jordan Heine</a><br>
And more code from <a href="http://www.promisance.org" target="_blank<?=$authstr?>">Nuitari's Promisance</a><br>
<hr>
<b>Frost And Flame</b> was designed by <b>Bjorn Redtail, Devari, Freenhult, Nuclear Raunch, Ruddertail, The Beatles, Turock, Veranor <b> and many members of the community.
The game was created by <b>Beatles, Veranor, Turock, Devari, and Bjorn Redtail</b>.
<hr>
External code in Frost And Flame is due to 
<ul>
<li><a href="http://www.minibb.net/" target="minibb">miniBB</a></li>
<li><a href="http://smarty.php.net/" target="smarty">Smarty</a></li>
<li><a href="http://php.bytez.net/minimyadmin/" target="smarty">MiniMyAdmin</a></li>
<li><a href="http://rovl.org/rwl/" target="rwl">RWL</a></li>
<li>Bart Meuris' <a href="?source&script=TagParser" target="tparser">TagParser</a></li>
<li><a href="http://redwall.org/" target="rworg">Redwall.org</a>'s old vine sidebar</li>
<li><a href="http://us4.php.net/manual/en/function.html-entity-decode.php">php DOT net AT c DASH ovidiu DOT tk</a>
</ul>
</td></tr>
</table>
