<?php if($GLOBALS["do_demolish"] != ""): ?>
You demolished <?php echo $GLOBALS["totaldestroyed"]; ?> structures in <?php echo $GLOBALS["turns"]; ?> turns and made $<?php echo $GLOBALS["totalsalvaged"]; ?>.<hr>
<?php endif; ?>


<script language="JavaScript">
function checkAllOne (check){
	var path = document.demolish;
	var cnt=0;
	for (var i=0;i<path.elements.length;i++) {
		e = path.elements[i];
		checkname = "maxall";
		if(check==2) checkname = "maxall2";
		if( (e.name!=checkname)  && (e.type=="checkbox") && (e.name!="hide_turns") ) {
			cnt++;
			if(cnt%2 == 0) {
				e.checked = path.maxall.checked;
				if(check==2) e.checked = path.maxall2.checked;
			}
		}
	 }
}

function checkAllTwo (check){
	var path = document.demolish;
	var cnt=0;
	for (var i=0;i<path.elements.length;i++) {
		e = path.elements[i];
		checkname = "safeall";
		if(check==2) checkname = "safeall2";
		if( (e.name!=checkname)  && (e.type=="checkbox") && (e.name!="hide_turns") ) {
			cnt++;
			if(cnt%2 == 1 && cnt != 1) {
				e.checked = path.safeall.checked;
				if(check==2) e.checked = path.safeall2.checked;
			}
		}
	 }
}
</script>


<a href="?guide&amp;section=structures<?php echo $GLOBALS["authstr"]; ?>"><?php echo $GLOBALS["gamename"]; ?> Guide: Structures</a><br>
<br>
Each structure demolished frees up one acre of land and you get approximately $<?php echo $GLOBALS["salvage"]; ?> per structure for salvage.<br>
We can demolish <?php echo $GLOBALS["destroyrate"]; ?> structures per turn.<br>
With our resources, we can demolish <span class="cbad"><?php echo $GLOBALS["allyoucandestroy"]; ?></span> structures.<br>
The <i>Safe</i> checkboxes will demolish the most of your buildings possible before you start losing money, <?php echo $GLOBALS["uera"]["peasants"]; ?>, or
<?php echo $GLOBALS["uera"]["wizards"]; ?>.<br>
 Use these if you want to, for example, free land for more structures without having to worry about losses.<br><br>

<form method="post" action="?demolish<?php echo $GLOBALS["authstr"]; ?>" name="demolish">
<table class="inputtable">
<tr><td colspan="3" class="aleft"><a href='?build<?php echo $GLOBALS["authstr"]; ?>'>Build</a></td>
    <td colspan="4" class="aright"><a href='?demolish<?php echo $GLOBALS["authstr"]; ?>'>Demolish</a></td></tr>
<tr class="inputtable2"><th class="aleft">Structure</th>
    <th class="aright">We Own</th>
    <th class="aright">Can Demolish</th>
    <th class="aright">Safe To Demolish</th>
    <th class="aright">Demolish</th>
    <th class="aright">Max <input type="checkbox" name="maxall" onclick="checkAllOne(1)" class="max"></th>
    <th class="aright">Safe <input type="checkbox" name="safeall" onclick="checkAllTwo(1)" class="safe"></th></tr>

<?php /* Printing row stuffs */ ?>
<?php foreach($GLOBALS["demolish"] as $loop_i): ?>
<tr><td><?php echo $loop_i["name"]; ?></td>
    <td class="aright"><?php echo $loop_i["userAmount"]; ?></td>
    <td class="aright"><?php echo $loop_i["canDestroy"]; ?></td>
    <td class="aright"><?php echo $loop_i["safeDestroy"]; ?></td>
    <td class="aright"><input type="text" name="demolish[<?php echo $loop_i["type"]; ?>]" size="5" value="0"></td>
    <td class="aright"><input type="checkbox" name="max[<?php echo $loop_i["type"]; ?>]" value="<?=$GLOBALS["type"]?>" class="max"></td>
    <td class="aright"><input type="checkbox" name="safeck[<?php echo $loop_i["type"]; ?>]" value="<?=$GLOBALS["type"]?>" class="safe"></td></tr>
<?php endforeach; ?>
<?php /* Footer */ ?>

<tr><td>Drop Unused Land</td>
    <td class="aright"><?php echo $GLOBALS["freeland"]; ?></td>
    <td class="aright"><?php echo $GLOBALS["candestroy"]; ?></td>
    <td class="aright"><?php echo $GLOBALS["candestroy"]; ?></td>
    <td class="aright"><input type="text" name="demolish[land]" size="5" value="0"></td>
    <td class="aright"></td>
<tr><td colspan="7" class="acenter"><input type="submit" name="do_demolish" value="Begin Demolition"></td></tr>
<tr><td colspan="7" class="acenter">Condense turns?<input type="checkbox" name="hide_turns"<?php echo $GLOBALS["cnd"]; ?>></td></tr>
</table>
</form>
<br>
