<table
 style="width: 95%; text-align: left; margin-left: auto; margin-right: auto;"
 border="0" cellpadding="3" cellspacing="0">
  <tbody>
    <tr align="center">
      <td style="background-color: rgb(102, 102, 102);">
          <span style="color: rgb(255, 255, 255); font-weight: bold; font-family: Verdana;">Fequently asked game questions - Written by Nuclear Raunch of <a href="http://faf.staronesw.com/" target="new">Frost and Flame Promisance</a></span></td>
    </tr>
    <tr align="center">
    <td><br>
<span class="cwarn">Q</span>: What is the normal amount of acceptable attacks on an empire before it is considered an act of aggression?<br>
<span class="cgood">A</span>: The general rule is not more than 7 attacks on empires that have less than 50,000 acres of land.<br>
<br>        
<span class="cwarn">Q</span>: What should I do if an empire is continuously attacking me more than 7 times?<br>
<span class="cgood">A</span>: Be diplomatic and send them a message to see if you can work things out.  If that fails and you feel like<br>
you are being stalked, contact an administrator and ask to have the attack logs reviewed.<br>
<br>
<span class="cwarn">Q</span>: People keep attacking and taking my land what should I do?<br>
<span class="cgood">A</span>: When you are not doing a run (playing turns), your land serves little purpose.  Land will change hands, that<br>
is part of the game.  They attack you, you attack them.  Its a simple exchange of land and it is harmless.<br>
<br>
<span class="cwarn">Q</span>: When I try to attack someone my generals refuse to attack. Why?<br>
<span class="cgood">A</span>: If your net is more, or less than 2.5x your opponenents net you will not be able to attack.<br>
If you are both in clans and your clan is set to war this number is increased.<br>
<br>
<span class="cwarn">Q</span>: Every time I attack someone part of my army deserts me for attacking a weaker/stronger empire. Why?<br>
<span class="cgood">A</span>: If the empire name of your opponent is yellow, attacking them will cause you to suffer desertion for attacks on<br>
a much stronger empire, and shame for attacks on a much weaker empire.<br>
If it's an offensive spell only wizards will desert and if it is a regular attack only your troops will desert.<br>
<br>
<span class="cwarn">Q</span>: I tried to Aid a friend but it said he was out of my range. What is my Aid range?<br>
<span class="cgood">A</span>: Greater than 2.5x your net and you will be unable to Aid. There is no limit to how low of an empire you can Aid.<br>
<br>
<span class="cwarn">Q</span>: My health never gets to 100% no matter how many turns I spend farming/trading etc... Why?<br>
<span class="cgood">A</span>: It sounds like your tax rate is set above 11%.<br><br>
</td></tr>
<tr align="center">
      <td style="background-color: rgb(102, 102, 102);">
          <span style="color: rgb(255, 255, 255); font-weight: bold; font-family: Verdana;">Buildings</span></td>
</tr><tr align="center">
    <td><br>
<b>Tents</b><br>
Tents allow you to have more peasants. These should only be used if you are running a casher strat. (see strategy section)<br>
<br>
<b>Markets</b><br>
Markets do 3 things, first they allow you to fit more cash in your bank, they give you a little money per turn, and<br>
they also raise your PCI (per capita income). The amount your PCI is raised depends on the percentage of your land<br>
in markets. I.E. 3,000 markets on 10,000 land will raise your PCI much more than 3,000 markets on 20,000 land.<br>
Markets should only be used in a casher strat.<br>
<br>
<b>Camps</b><br>
Keeps do 3 things also. They lower troop upkeep, lower price of items on the black market, and increase the rate at<br>
which the black market refills. (see Black Market) Camps DO NOT affect market refresh. Camps do not lower upkeep<br>
enough to make a noticeable difference. The real strength of camps lies in their ability to lower Black Market prices.<br>
Camps will give you a maximum discount of 30% off Black Market prices, and you get this max discount when at least<br>
38% of your land is in Camps.<br>
<br>
Camps are necessary if you are trying to run a reseller strat (see strat section) or they are also sometimes used<br>
when an empire decides to buy up. 50 turns building Camps can save you 30% more so if you are planning on buying a<br>
lot of troops you might want to consider building some tents right before.<br>
<br>
<b>Farms</b><br>
Produce food for your empire.  Used by most all strategies except a few.  Having a few farms is never a bad idea. <br>
<br>
<b>Mage Towers</b><br>
Mage Towers make both mages and runes. They will produce mages until you have at least 100 mages per tower. If you<br>
ever have more than 175 mages per tower then a percentage of your mages will die every turn until you get back<br>
down to 175 per tower.  The less full your Mage Towers are the faster you gain mages. If you have 40 mages per tower<br>
you will gain mages much faster than you will when you have 80 mages per tower.<br>
<br>
All strats need to have some Mage Towers. Bare minimum is enough to make you sufficient runes to cast the spells <br>
raise defenses and prepare troops.<br>
<br>
<b>Barracks</b><br>
Barracks produce troops for your empire.  You can change the percentage of each troop built in the manage section.<br>
<br>
<b>Guard Towers</b><br>
A favorite of new players, Guard Towers give you 600 defensive points each.  In order to get the full use out of your<br>
guard towers you need at least 100 infantry per tower or they will not be calculated in the defense when someone<br>
attacks you.  Some players like the guard towers and some don't.  You will need to experiment and see what suits you.<br>
</td></tr></tbody></table>

<br><br>
<table
 style="width: 95%; text-align: left; margin-left: auto; margin-right: auto;"
 border="0" cellpadding="5" cellspacing="0">
  <tbody>
    <tr>
      <td style="background-color: rgb(102, 102, 102);">
    <span style="color: rgb(255, 255, 255); font-weight: bold; font-family: Verdana;">Basic Strategies</span></td></tr>
      <tr><td>
This is helpful for a new player just starting out or as a reminder of
the basic % of builds recommended. &nbsp;This is just a basic
outline of &nbsp;strategies. &nbsp;As you become a better
player and gain experience you will learn to tweak your strategy to
your unique playing style.
      <hr style="width: 100%; height: 2px;"></td>
    </tr>
    <tr>
      <td><span style="font-weight: bold;">Casher:<br>
      </span><br>
Recommended Race: Ogre<br>
      <br>
Recommended Build:<br>
10% Farms<br>
10% MT<br>
10% Markets<br>
70% Tents<br>
Tax Rate: 30 - 60%<br>
      <br>
What to do when running: (basic)<br>
Attack for land, build out and spend the rest of your run trading. When
your done, buy troops off the black market.<br>
      <br>
Heroes Recommended:<br>
War Hero - Cregga or Matthias<br>
Peace Hero - Bella<br>
Special Hero - Brome<br>
      <br>
That's really all there is to it, its a very easy strat and can become
one of the most powerful.<br><br><hr>
      </td>
    </tr>
    <tr>
      <td><span style="font-weight: bold;"></span><strong>Farmer:</strong><br>
      <br>
Recommended Race: Ent<br>
      <br>
Recommended Build:<br>
10% Barracks<br>
70% Farms<br>
20% MT<br>
Tax Rate: 11%<br>
      <br>
What to do when running: (basic)<br>
Attack for land, build out and spend the rest of your run farming. When
done sell as much food as you can on Public Market, then sell the rest
on the Black Market. Buy troops!<br>
      <br>
Details:<br>
After doing all your attacking and you have your land grab done, it
helps to store all the troops you can on the public market BEFORE you
build. This will reduce your cost per turn to maintain your empire and
make building cheaper. It leaves you a little open to attack at first,
but if done correctly you will eventually have a rotation of troops
that can be pulled from the market at any given time. This is really
important! Now before your next run, pull all troops off the public
market, attack and repeat! Congrats, you now have the knowledge. Go
forth and smite those who stand in your way.<br>
      <br>
Heroes Recommended:<br>
War Hero - choose either attack or defense<br>
Peace Hero - Grumm - 50% more food<br>
Special Hero - Brome - better healing<br><br><hr>
      </td>
    </tr>
    <tr>
      <td><span style="font-weight: bold;">Mager:<br>
      </span><br>
Recommended Race: Orc, Ent, Drow, or Centaur <br>
      <br>
Recommended Build:<br>
20% Farms<br>
80% MT<br>
Tax Rate: 11%<br>
      <br>
What to do when running: (basic) <br>
Attack for land, build out and spend the rest of your turns either
writing for runes or looting for cash. When done buy all your troops
from the black market.<br>
      <br>
The recommended build has 20% farms because food is a magers weak
point, magers can make ALOT of cash but the grain spell doesnt get much
at all. So magers usually buy food off the public market, with 20%
farms you can usually stay green on food so you only have to watch your
cash level.<br>
      <br>
Heroes Recommended:<br>
War Hero - Mactalon or Cregga<br>
Peace Hero - Methuselah<br>
Special Hero - Brome<br><br><hr>
      </td>
    </tr>
    <tr>
      <td><span style="font-weight: bold;">Indy:<br>
      <br>
      </span>Recommended Race: Dwarf, Minotaur, Vampire, Goblin,
or Golem <br>
      <br>
Recommended Build:<br>
10% Farms<br>
10% MT<br>
10% Tents<br>
70% Barracks<br>
Tax Rate: 11%<br>
      <br>
What to do when running: (basic)<br>
Attack for land, build out and spend the rest of your run recruiting.
The key is to build one troop type at a time then once you have a good
amount of that troop, switch to the next troop type and do it again.<br>
      <br>
Heroes Recommended:<br>
War Hero - Cregga or Matthias<br>
Peace Hero - Bella<br>
Special Hero - Brome<br>
      <br>
You must really keep an eye on your resources with this strat as you
can quicky run out of cash or food and ruin your empire.<br><br><hr>
&nbsp;</td>
    </tr>
  </tbody>
</table>
</body>
</html>
