{if $index == 'true'}
<h1><a href="?new_guide">Promisance Guide</a></h1>
<table class="guide" style="width:90%">

<tr><th>General</th>
    <th>Information</th>
    <th>Use Turns</th>
    <th>Finances</th>
    <th>Relations</th>
    <th>Management</th></tr>

<tr><td><a href="?new_guide&amp;section=intro">Introduction</a></td>
    <td><a href="?new_guide&amp;section=news">News Search</a></td>
    <td><a href="?new_guide&amp;section=cash">Cashing</a></td>
    <td><a href="?new_guide&amp;section=pubmarketbuy">Public Market</a></td>
    <td><a href="?new_guide&amp;section=magic">Magic and missions</a></td>
    <td><a href="?new_guide&amp;section=manage">Managing Your Empire</a></td></tr>

<tr><td><a href="?new_guide&amp;section=races">Race Info</a></td>
    <td><a href="?new_guide&amp;section=status">Empire Status</a></td>
    <td><a href="?new_guide&amp;section=land">Exploration</a></td>
    <td><a href="?new_guide&amp;section=pvtmarketbuy">Black Market</a></td>
    <td><a href="?new_guide&amp;section=military">Attacking</a></td>
    <td><a href="?new_guide&amp;section=messages">Messaging</a></td></tr>

<tr><td><a href="?new_guide&amp;section=munits">Military Units</a></td>
    <td><a href="?new_guide&amp;section=scores">Scores List</a></td>
    <td><a href="?new_guide&amp;section=build">Structures</a></td>
    <td></td>
    <td><a href="?new_guide&amp;section=messages">Messaging</a></td>
    <td></td></tr>
<tr><td><a href="?new_guide&amp;section=statusbar">Status Bar</a></td>

    <td><a href="?new_guide&amp;section=search">Empire Search</a></td>
    <td><a href="?new_guide&amp;section=farm">Farming</a></td>
    <td></td>
    <td></td>
    <td></td></tr>
<tr><td><a href="?new_guide&amp;section=eras">Time Periods</a></td>
    <td><a href="?new_guide&amp;section=signup">Signup</a></td>

    <td></td>
    <td></td>
    <td></td>
    <td></td></tr>
<tr><th>General</th>
    <th>Information</th>
    <th>Use Turns</th>
    <th>Finances</th>

    <th>Relations</th>
    <th>Management</th></tr>
</table>
{else}
<?php echo $text; ?>
{/if}
