<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title><?php echo $gamename; ?> :: <?php echo $title; ?></title>
<link rel="stylesheet" type="text/css" href="layout.css">
<link rel="stylesheet" type="text/css" href="<?php echo $stylename; ?>">
<link rel="icon" href="img/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="alternate" title="RSS Feed" href="<?php echo $config["sitedir"]; ?>?rss" type="application/rss+xml">
<?php echo $extra_headers; ?>
</head>
<body> 
<div class="acenter">
<table width="100%" border="0">
<tr><td style="width:24px;vertical-align:top;text-align:center" valign="top">
<center><span style="font-size:x-large"><?php echo $gamename; ?></span></center>

<table class="menus">
<tr><th><center><hr><a href="?login<?php echo $authstr; ?>" class="darklink">Main&nbsp;Menu</a><hr></center></th></tr>

<?php foreach($menus as $m): ?>
<?php if($m["spec"] == 1): ?>
<tr><th><a class='undecorated' href='<?php echo $m["link"]; ?>'><?php echo $m["item"]; ?></a></th></tr>
<?php else: ?>
<tr><td><a href='<?php echo $m["link"]; ?>'<?php echo $m["trg"]; ?>><?php echo $m["item"]; ?></a></td></tr>
<?php endif; ?>
<?php endforeach; ?>

<tr><th><center><hr><a href="?login" class="darklink">Main Menu</a><hr></center></th></tr>
</table>

</td>
<td class="acenter sidebar">
<img src="spacer.gif" height="0" width="100%" border="0" alt="">
</td>
<td class="acenter" style="vertical-align:top">

<center><a href="http://www.frostnflame.org"><img src="img/logo.gif" border="0" alt="<?php echo strip_tags($gamename_full); ?> Promisance" /></a></center>

<table width="80%"><tr width="100%">
<td style="text-align:left; vertical-align:top"><b><font size=2>
<?php if($loggedin ): ?>
<strong>Welcome, <?php echo $global["empire"]; ?>!
<?php else: ?>
<?php echo $gamename_full; ?> Promisance
<?php endif; ?>
</font></b></td>
<td style="text-align:right">
<?php if($loggedin ): ?>
<a href="?globalout">[Logout]</a>
<?php else: ?>
<br />
<!--
<form action='?login<?php echo $skinstr; ?>' method="POST">
<strong><a href="?globalsignup<?php echo $skinstr; ?>">[Register]</a> &middot; </strong>
<strong>Log In</strong>
<input type='hidden' name='type' value='global' />
<input type='text' size='10' name='user' onfocus="this.value=''" value='Username' />
<input type='password' size='10' name='pass' onfocus="this.value=''" value='blankpass' />
<input type='submit' value='Go' />
</form>
-->
<?php endif; ?>
</td>
</tr></table>

<br>
