<br><br>
<table class="inputtable" width="400">

<tr>    <th colspan="2"><?php echo $GLOBALS["config"]["servname"]; ?> :: Game Info</th></tr>

<tr>    <td>Turns</td>
    <td><?php echo $GLOBALS["config"]["turnsper"]; ?> every <?php echo $GLOBALS["config"]["perminutes"]; ?> minutes</td></tr>

<tr>    <td>Max Turns</td>
    <td><?php echo $GLOBALS["config"]["maxturns"]; ?></td></tr>

<tr>    <td>Max Stored Turns</td>
    <td><?php echo $GLOBALS["config"]["maxstoredturns"]; ?></td></tr>

<tr>    <td>New Player Protection</td>
    <td><?php echo $GLOBALS["config"]["protection"]; ?></td></tr>

<tr>    <td colspan="2" height="0"><hr></td></tr>

<tr>    <td>Signups</td>
    <td><?php if($GLOBALS["config"]["signupsclosed"]==1): ?>Closed<?php else: ?>Open<?php endif; ?></td></tr>

<tr>    <td>Database</td>
    <td><?php if($GLOBALS["config"]["lockdb"]==1): ?>Locked<?php else: ?>Open<?php endif; ?></td></tr>

<tr>    <td>Last week?</td>
    <td><?php if($GLOBALS["lastweek"]==1): ?>Yes<?php else: ?>No<?php endif; ?></td></tr>

<tr>    <td>Round End</td>
    <td><?php echo $GLOBALS["roundend"]; ?></td></tr>
<!-- <?php echo $GLOBALS["etime"]; ?> -->

<tr>    <td colspan="2" height="0"><hr></td></tr>

<tr>    <td>Number of Players</td>
    <td><?php echo $GLOBALS["numplayers"]; ?></td></tr>

<tr>    <td>Average Networth</td>
    <td>$<?php echo $GLOBALS["avgnet"]; ?></td></tr>

<tr>    <td colspan="2" height="0"><hr></td></tr>

<tr>    <td colspan="2" height="0" style="text-align: center"><?php echo $GLOBALS["config"]["news"]; ?></td></tr>

<tr>    <th colspan="2"><?php echo $GLOBALS["config"]["servname"]; ?> :: Game Info</th></tr>

</table>
