<table width="80%"><tr><td>
{section name=login loop=$servers}
	<center>
	<form method="POST" action="<?php echo $sitedir; ?>?login&amp;srv={$servers[login].num}{$skinstr}" name="lgin">
	<br>

	<table class="inputtable">
	<tr><th colspan="2"><h3>{$servers[login].name}</h3></th></tr>
	<tr>
	<td style="text-align: right">Username:</td><td style="text-align: left"><input type="text" name="login_username" size="11"></td>
	</tr><tr>
	<td style="text-align: right">Password:</td><td style="text-align: left"><input type="password" name="login_password" size="11"></td>
	</tr>
	<tr>
	{if $servers[login].hiddenlogin}
		<td><input type="checkbox" name="nothideon" checked>&nbsp;Show&nbsp;as&nbsp;online?</td>
		<td><input type="checkbox" name="usecookie" checked>&nbsp;Use&nbsp;Cookies?</td>
	{else}
		<td colspan="2"><input type="checkbox" name="usecookie" checked>&nbsp;Use&nbsp;Cookies?</td>
	{/if}
	<tr>
	<td colspan="2" style="text-align:right"><input type="submit" name="do_login" value="Login"></td>
	</tr>
	<tr><td colspan="2" style="text-align:center">
	<a href="<?php echo $main; ?>?signup&amp;srv={$servers[login].num}{$skinstr}"><b>Create&nbsp;Account</b></a>&nbsp;<b>&middot;</b>&nbsp;<a href="{$main}?top10&amp;srv={$servers[login].num}{$skinstr}"><b>Top&nbsp;100&nbsp;Players</b></a><br>
	<a href="<?php echo $main; ?>?info&amp;srv={$servers[login].num}{$skinstr}"><b>Game&nbsp;Info</b></a>
	</td></tr>
	</table>

	<br>

	</form>
	</center>

	</td>
	{cycle values="<td>,</tr><tr><td>"}
{/section}
</td><td></td>
</tr>
</table>

<br>
<!-- <h3 align="center">News</h3> -->

{section name=news loop=$login_news}
	<table class="inputtable" width="80%" border="0">
	<tr>
		<th width="90%" style="text-align:left"><a href="{$login_news[news].mlink}">{$login_news[news].author}</a></th>
		<th style="text-align:right">{$login_news[news].time}</th>
	</tr>
	<tr>
		<td colspan="2" style="text-align:left"><b><a href="{$login_news[news].link}">{$login_news[news].title}</a></b>
		{if $login_news[news].descempty == 0}({$login_news[news].desc}){/if}
		</td>
	</tr>
	<tr>
		<td colspan="2" style="text-align:left">{$login_news[news].post}</td>
	</tr>
	<tr>
		<td colspan="2" style="text-align:right"><a href="{$login_news[news].link}">{$login_news[news].ctext}</a></td>
	</tr>
	</table>
	<br>
{/section}
