{if !$crier}
<form method="post" action="?news<?php echo $authstr; ?>">
<table class="inputtable">
<tr><th class="aleft">Search by:</th>
	<td>
		<label><input type="radio" name="search_by" value="Attacker"> Attacker</label>
		<label><input type="radio" name="search_by" value="Defender"> Defender</label>
		<label><input type="radio" name="search_by" value="Either" checked> Doesn't matter</label>
	</td>
</tr><tr>
	<th class="aright">
		<label>Items:&nbsp;</th><th class="acenter"><input type="text" name="search_limit" size="6" value="<?php echo $newslimit; ?>"></label>
	</th></tr>
	<th class="aleft">
		<label><input type="radio" name="search_type" value="num" checked> Number</label>
	</th>
	<th class="acenter">
		<input type="text" name="search_num" size="5">
	</th>
</tr><tr>
	<th class="aleft"><label><input type="radio" name="search_type" value="clan"> Clan</label></th>
	<td><select name="search_clan" size="1">
		<option value="0" selected>None - Unallied Empires</option>
		{section name=j loop=$liveclans}
			<option value="{$liveclans[j].num}">{$liveclans[j].tag} - {$liveclans[j].name}</option>
		{/section}
	        <option value="-1">--- Dead Clans: ---</option>
		{section name=j loop=$deadclans}
			<option value="{$deadclans[j].num}">{$deadclans[j].tag} - {$deadclans[j].name}</option>
		{/section}
	</select></td>
</tr><tr>
	<td colspan="3" class="acenter">
		<input type="submit" name="do_search" value="Search News">
	</td>
</tr>
</table>
{/if}

<br><br>

{if !$crier}<h2>
	{if $events == 0}	No events.	{/if}
	{if $events == 1}	1 event:
	{else}			<?php echo $events; ?> events:
	{/if}
</h2>
{else}<br>{/if}

<table style="width:90%">
{if $crier}<tr><th colspan="5">Recent News</th></tr>{/if}

<tr class="inputtable2">
	<th>Date/Time</th>
	<th>Attacker</th>
	<th>Defender</th>
	<th>Outcome</th>
	<th style="width:2">Times</th>
</tr>

{section name=i loop=$news}
	<tr>
		<td>{$news[i].date}</td>
		<td>{$news[i].name2}<br>Clan: {$news[i].clname2}</td>
		<td>{$news[i].name1}<br>Clan: {$news[i].clname1}</td>
		<td>{$news[i].name}{$news[i].whatfor}<br>{$news[i].outcome}</td>
		<td>{$news[i].times}</td>
	</tr>
	<tr>	<td colspan="5"><hr></td>
	</tr>

{/section}

<tr class="inputtable2">
	<th>Date/Time</th>
	<th>Attacker</th>
	<th>Defender</th>
	<th>Outcome</th>
	<th style="width:2">Times</th>
</tr>
