
<script language="JavaScript">

	function updateMsgNames() {
		msgnum = document.frmmsg.num.value;
		nchanged = true
		for (i = 0; i < document.frmmsg.msg_dest.options.length; i++) {
			 if (document.frmmsg.msg_dest.options[i].value == msgnum) {
				document.frmmsg.msg_dest.options[i].selected = true;
				nchanged = false;
			}
		}
		if (nchanged) {
			document.frmmsg.do_view.disabled = true;
		} else {
			document.frmmsg.do_view.disabled = false;
		}
	}
	function updateMsgNums() {
		document.frmmsg.num.value = document.frmmsg.msg_dest.value;
			document.frmmsg.do_view.disabled = false;
	//	document.frmmsg.submit();
	}

</script>




<div align="center">

		<form method="post" action="<?php echo $main; ?>?profiles<?php echo $authstr; ?>" name="frmmsg">
			Read Profile of: <input type="text" name="num" size="5" maxlength="10" value="<?php echo $selected; ?>" onChange="updateMsgNames()">
			<select name="msg_dest" onClick="updateMsgNums()" class="dkbg">
			<?php foreach($drop as $loop_dropsel): ?>
				<option value="<?php echo $loop_dropsel["num"]; ?>" class="m<?php echo $loop_dropsel["color"]; ?>"
				<?php if($selected == $loop_dropsel["num"]): ?> selected <?php endif; ?>
				><?php echo $loop_dropsel["num"]; ?> - <?php echo $loop_dropsel["name"]; ?></option>
			<?php endforeach; ?>
			</select>


<?php /* war_drop */ ?>


			<input type="submit" name="do_view" value="View Profile">
		</form>

	<br><br>



	<?php if($do_view=="true"): ?>
		<table style="width:100%" align="center">

			<tr>
				<th colspan="2">
					<b><?php echo $enemy["empire"]; ?> <a class="proflink" href="<?php echo $main; ?>?profiles&amp;num=<?php echo $enemy["num"]; ?><?php echo $authstr; ?>">(#<?php echo $enemy["num"]; ?>)</a></b>
				</th>
			</tr>

			<tr>
				<td style="vertical-align:top;width:40%">
				<table class="empstatus" style="width:100%">
					<tr>
						<td>
							<table class="empstatus" style="width:100%">
        						<tr><th colspan="2" class="era<?php echo $users["era"]; ?>" style="text-align:center">In-Game Information</th></tr>

								<tr>
									<th>Rank: </th>
									<td><?php echo $enemy["rank"]; ?></td>
								</tr>

								<tr>
									<th>Networth: </th>
									<td>$<?php echo $enemy["networth"]; ?></td>
								</tr>

								<tr>
									<th>Land: </th>
									<td><?php echo $enemy["land"]; ?></td>
								</tr>

								<tr>
									<th>Race: </th>
									<td><?php echo $erace["name"]; ?></td>
								</tr>

								<tr>
									<th>Era:</th>
									<td><?php echo $eera["name"]; ?></td>
								</tr>

								<tr>
									<th>Clan: </th>
									<td>
									<?php if($clan["num"]!=0): ?>
									<?php echo $clan["name"]; ?> <a class="<?php echo $ccolor; ?>" href="<?php echo $main; ?>?clancrier&amp;sclan=<?php echo $clan["num"]; ?><?php echo $authstr; ?>">(<?php echo $clan["tag"]; ?>)</a>
									<?php else: ?>No Clan
									<?php endif; ?>
									</td>
								</tr>

								<tr>
									<th>Allies: </th>
									<td><?php echo $tags[0]; ?>, <?php echo $tags[1]; ?>, <?php echo $tags[2]; ?>, <?php echo $tags[3]; ?>, <?php echo $tags[4]; ?></td>
								</tr>

								<tr>
									<th>Enemies: </th>
									<td><?php echo $tags[5]; ?>, <?php echo $tags[6]; ?>, <?php echo $tags[7]; ?>, <?php echo $tags[8]; ?>, <?php echo $tags[9]; ?></td>
								</tr>

								<tr>
									<th>Offensive Actions: </th>
									<td><?php echo $enemy["offtotal"]; ?> (<?php echo $off_percent; ?>%)</td>
								</tr>

								<tr>
									<th>Defensive Actions: </th>
									<td><?php echo $enemy["deftotal"]; ?> (<?php echo $def_percent; ?>%)</td>
								</tr>
								<tr>
									<th>Signup Date</th>
									<td><?php echo $enemy["signedup"]; ?>

							</table>
						</td>
					</tr>

					<tr>
						<td>
							<table class="empstatus" style="width:100%">
        						<tr>
        							<th colspan="2" class="era<?php echo $users["era"]; ?>" style="text-align:center">Contact Information</th>
        						</tr>

								<tr>
									<th>AIM: </th>
									<td><?php echo $enemy["aim"]; ?></td>
								</tr>
								<tr>
									<th>MSN: </th>
									<td><?php echo $enemy["msn"]; ?></td>
								</tr>
							</table>

							<?php if($loggedin==true): ?><br>
							<div align="center"><a href="<?php echo $main; ?>?military&amp;prof_target=<?php echo $enemy["num"]; ?><?php echo $authstr; ?>">Attack</a> &middot; <a href="<?php echo $main; ?>?mercenary&amp;set=1&amp;prof_target=<?php echo $enemy["num"]; ?><?php echo $authstr; ?>">Set Bounty On</a> &middot; <a href="<?php echo $main; ?>?mercenary&amp;view_prof=1&amp;prof_target=<?php echo $enemy["num"]; ?><?php echo $authstr; ?>">View Bounties On <?php echo $uera["empireC"]; ?></a> &middot; <a href="<?php echo $main; ?>?aid&amp;prof_target=<?php echo $enemy["num"]; ?><?php echo $authstr; ?>">Aid</a> &middot; <a href="<?php echo $main; ?>?messages&amp;prof_target=<?php echo $enemy["num"]; ?><?php echo $authstr; ?>">Message</a></div>
							<?php endif; ?>
						</td>
					</tr>
				</table>
				</td>

				<td style="vertical-align:top:width:60%" valign="top">
					<table class="empstatus" style="width:100%">
					<tr><th colspan="2" class="era<?php echo $users["era"]; ?>" style="text-align:center">User's Profile:</th></tr>
					<tr><td><div align="left"><?php echo $enemy["profile"]; ?></div></td></tr>
					</table>
				</td>
		</tr>
		</table>
	<?php endif; ?>


</div>
