<script language="JavaScript">

function checkAll (check){
	var path = document.pvmb;
	for (var i=0;i<path.elements.length;i++) {
		e = path.elements[i];
		checkname = "maxall";
		if(check==2) checkname = "maxall2";
		if( (e.name!=checkname)  && (e.type=="checkbox") ) {
			 e.checked = path.maxall.checked;
			 if(check==2) e.checked = path.maxall2.checked;
		}
	 }
}

</script>

<?php if($printmessage != ''): ?>
<?php echo $printmessage; ?>
<?php endif; ?>

Also see: <a href="?guide&amp;section=military&amp;era=<?php echo $uera; ?><?php echo $authstr; ?>">Guide: Military</a><br>
<form method="post" action="?pvtmarketbuy<?php echo $authstr; ?>" name="pvmb">
<table class="inputtable">
<tr><td colspan="3"><a href="?pvtmarketbuy<?php echo $authstr; ?>">Buy Goods</a></td>
    <td colspan="4" class="aright"><a href="?pvtmarketsell<?php echo $authstr; ?>">Sell Goods</a></td></tr>
<tr class="inputtable2"><th class="aleft">Unit</th>
    <th class="aright">Owned</th>
    <th class="aright">Avail</th>
    <th class="aright">Cost</th>
    <th class="aright">Afford</th>
    <th class="aright">Buy</th>
    <th class="aright">Max <input type="checkbox" name="maxall" onClick="checkAll(1)"></th>
</tr>

<?php foreach($types as $pvm): ?>
<tr><td><?php echo $pvm["name"]; ?></td>
    <td class="aright"><?php echo gamefactor($pvm["amt"]); ?></td>
    <td class="aright"><?php echo gamefactor($pvm["mkt"]); ?></td>
    <td class="aright">$<?php echo $pvm["cost"]; ?></td>
    <td class="aright"><?php echo gamefactor($pvm["canbuy"]); ?></td>
    <td class="aright"><input type="text" name="buy[<?php echo $pvm["type"]; ?>]" size="8" value="0"></td>
    <td class="aright"><input type="checkbox" name="max[<?php echo $pvm["type"]; ?>]" value="<?php echo $pvm["type"]; ?>"></td>
</tr>
<?php endforeach; ?>

<tr><td colspan="7" class="acenter"><input type="submit" name="do_buy" value="Purchase Goods"></td></tr>
</table>
</form>

