<script language="JavaScript">

function checkAll (check){
    var path = document.pvmb;
    for (var i=0;i<path.elements.length;i++) {
        e = path.elements[i];
        checkname = "maxall";
        if(check==2) checkname = "maxall2";
        if( (e.name!=checkname)  && (e.type=="checkbox") ) {
             e.checked = path.maxall.checked;
             if(check==2) e.checked = path.maxall2.checked;
        }
     }
}

</script>

<?php if($GLOBALS["msg"] != ''): ?>
<?php echo $GLOBALS["msg"]; ?>
<?php endif; ?>

Also see: <a href="?guide&amp;section=military&amp;era=<?php echo $GLOBALS["users"]["era"]; ?><?php echo $GLOBALS["authstr"]; ?>">Guide: Military</a><br>
<form method="post" action="?pvtmarketsell<?php echo $GLOBALS["authstr"]; ?>" name="pvmb">
<table class="inputtable">
<tr><td colspan="3"><a href="?pvtmarketbuy<?php echo $GLOBALS["authstr"]; ?>">Buy Goods</a></td>
    <td colspan="4" class="aright"><a href="?pvtmarketsell<?php echo $GLOBALS["authstr"]; ?>">Sell Goods</a></td></tr>
<tr class="inputtable2"><th class="aleft">Unit</th>
    <th class="aright">Owned</th>
    <th class="aright">Price</th>
    <th class="aright">Can Sell</th>
    <th class="aright">Sell</th>
    <th class="aright">Max <input type="checkbox" name="maxall" onClick="checkAll(1)"></th>
</tr>

<?php foreach($GLOBALS["types"] as $loop_pvm): ?>
<tr><td><?php echo $loop_pvm["name"]; ?></td>
    <td class="aright"><?php echo commas(gamefactor($loop_pvm["amt"])); ?></td>
    <td class="aright">$<?php echo commas($loop_pvm["cost"]); ?></td>
    <td class="aright"><?php echo commas(gamefactor($loop_pvm["cansell"])); ?></td>
    <td class="aright"><input type="text" name="sell[<?php echo $loop_pvm["type"]; ?>]" size="8" value="0"></td>
    <td class="aright"><input type="checkbox" name="max[<?php echo $loop_pvm["type"]; ?>]" value="<?php echo $loop_pvm["type"]; ?>"></td>
</tr>
<?php endforeach; ?>

<tr><td colspan="7" class="acenter"><input type="submit" name="do_sell" value="Sell Goods"></td></tr>
</table>
</form>
