<table style="width:100%">
<tr><th colspan="3"><?php echo $GLOBALS["users"]["empire"]; ?> <a href=?profiles&amp;num=<?php echo $GLOBALS["users"]["num"]; ?><?php echo $GLOBALS["authstr"]; ?>>(#<?php echo $GLOBALS["users"]["num"]; ?>)</a></th></tr>
<tr><td style="vertical-align:top;width:33%">
        <table class="empstatus" style="width:100%">
        <tr><th colspan="2" class="era<?php echo $GLOBALS["users"]["era"]; ?>" style="text-align:center">Statistics</th></tr>
        <tr><th>Turns Used:</th>
            <td><?php echo $GLOBALS["users"]["turnsused"]; ?></td></tr>
        <tr><th>Rank:</th>
            <td>#<?php echo $GLOBALS["users"]["rank"]; ?></td></tr>
        <tr><th>Networth:</th>
            <td>$<?php echo $GLOBALS["users"]["networth"]; ?></td></tr>
        <tr><th>Experience:</th>
            <td><?php echo $GLOBALS["experience"]; ?></td></tr>
        <tr><th>Gold:</th>
            <td><b>$<?php echo $GLOBALS["users"]["cash"]; ?></b></td></tr>
        <tr><th><?php echo $GLOBALS["uera"]["food"]; ?>:</th>
            <td><b><?php echo gamefactor($GLOBALS["users"]["food"]); ?></b> <?php if($GLOBALS["users"]["pubmarket_food"]): ?>(<?php echo gamefactor($GLOBALS["users"]["pubmarket_food"]); ?>)<?php endif; ?></td></tr>
        <tr><th><?php echo $GLOBALS["uera"]["runes"]; ?>:</th>
            <td><b><?php echo gamefactor($GLOBALS["users"]["runes"]); ?></b> <?php if($GLOBALS["users"]["pubmarket_runes"]): ?>(<?php echo gamefactor($GLOBALS["users"]["pubmarket_runes"]); ?>)<?php endif; ?></td></tr>
        <tr><th><?php echo $GLOBALS["uera"]["peasantsC"]; ?>:</th>
            <td><?php echo $GLOBALS["users"]["peasants"]; ?></td></tr>
        <tr><th>Race:</th>
            <td><?php echo $GLOBALS["urace"]["name"]; ?></td></tr>
        <tr><th>Era:</th>
            <td><?php echo $GLOBALS["uera"]["name"]; ?></td></tr>
        </table>
    </td>
    <td style="vertical-align:top;width:33%">
        <table class="empstatus" style="width:100%">
        <tr><th colspan="2" class="era<?php echo $GLOBALS["users"]["era"]; ?>" style="text-align:center">Military</th></tr>
    <?php foreach($GLOBALS["troopdisp"] as $loop_have): ?>
        <tr><th><?php echo $loop_have["name"]; ?>:</th>
            <td><b><?php echo gamefactor($loop_have["have"]); ?></b> <?php if($GLOBALS["troopdisp"][have]["market"]): ?>(<?php echo gamefactor($loop_have["market"]); ?>)<?php endif; ?></td></tr>
    <?php endforeach; ?>
        <tr><th><?php echo $GLOBALS["uera"]["wizards"]; ?>:</th>
        <td><?php echo $GLOBALS["users"]["wizards"]; ?></td></tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr><th>Offensive Points:</th>
            <td><?php echo commas($GLOBALS["offpts"]); ?></td></tr>
        <tr><th>Defensive Points:</th>
            <td><?php echo commas($GLOBALS["defpts"]); ?></td></tr>
        <tr><th>Experience:</th>
            <td><?php echo commas($GLOBALS["experience"]); ?></td></tr>
        </table>
    </td>
    <td style="vertical-align:top;width:33%">
        <table class="empstatus" style="width:100%">
        <tr><th colspan="2" class="era<?php echo $GLOBALS["users"]["era"]; ?>" style="text-align:center">Relations</th></tr>
        <tr><th>Member of Clan:</th>
            <td><?php echo $GLOBALS["tags"][0]; ?></td></tr>
        <tr><th>Allies:</th>
            <td><nobr><?php echo $GLOBALS["tags"][1]; ?>, <?php echo $GLOBALS["tags"][2]; ?>, <?php echo $GLOBALS["tags"][3]; ?>, <?php echo $GLOBALS["tags"][7]; ?>, <?php echo $GLOBALS["tags"][8]; ?></nobr></td></tr>
        <tr><th>War:</th>
            <td><nobr><?php echo $GLOBALS["tags"][4]; ?>, <?php echo $GLOBALS["tags"][5]; ?>, <?php echo $GLOBALS["tags"][6]; ?>, <?php echo $GLOBALS["tags"][9]; ?>, <?php echo $GLOBALS["tags"][10]; ?></nobr></td></tr>
    <tr><th>Private War Declaration:</th>
            <td><?php echo $GLOBALS["warset"]; ?></td>
    <tr><th>Private Peace Treaty:</th>
            <td><?php echo $GLOBALS["peaceset"]; ?></td>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr><th>Offensive Actions:</th>
            <td><?php echo $GLOBALS["users"]["offtotal"]; ?> (<?php echo $GLOBALS["off_percent"]; ?>%)</td></tr>
        <tr><th>Defenses:</th>
            <td><?php echo $GLOBALS["users"]["deftotal"]; ?> (<?php echo $GLOBALS["def_percent"]; ?>%)</td></tr>
        <tr><th>Kills:</th>
            <td><?php echo $GLOBALS["users"]["kills"]; ?></td></tr>
        </table>
    </td>
</tr>
<tr><td style="vertical-align:top;width:33%">
        <table class="empstatus" style="width:100%">
        <tr><th colspan="2" class="era<?php echo $GLOBALS["users"]["era"]; ?>" style="text-align:center">Land Division</th></tr>
        <tr><th><?php echo $GLOBALS["uera"]["shops"]; ?>:</th>
            <td><?php echo $GLOBALS["users"]["shops"]; ?></td></tr>
        <tr><th><?php echo $GLOBALS["uera"]["homes"]; ?>:</th>
            <td><?php echo $GLOBALS["users"]["homes"]; ?></td></tr>
        <tr><th><?php echo $GLOBALS["uera"]["industry"]; ?>:</th>
            <td><?php echo $GLOBALS["users"]["industry"]; ?></td></tr>
        <tr><th><?php echo $GLOBALS["uera"]["barracks"]; ?>:</th>
            <td><?php echo $GLOBALS["users"]["barracks"]; ?></td></tr>
        <tr><th><?php echo $GLOBALS["uera"]["labs"]; ?>:</th>
            <td><?php echo $GLOBALS["users"]["labs"]; ?></td></tr>
        <tr><th><?php echo $GLOBALS["uera"]["farms"]; ?>:</th>
            <td><?php echo $GLOBALS["users"]["farms"]; ?></td></tr>
        <tr><th><?php echo $GLOBALS["uera"]["towers"]; ?>:</th>
            <td><?php echo $GLOBALS["users"]["towers"]; ?></td></tr>
        <tr><th>Unused Land:</th>
            <td><?php echo $GLOBALS["users"]["freeland"]; ?></td></tr>
        </table>
    </td>
    <td style="vertical-align:top;width:33%">
        <table class="empstatus" style="width:100%">
        <tr><th colspan="2" class="era<?php echo $GLOBALS["users"]["era"]; ?>" style="text-align:center">Finances</th></tr>
        <tr><th>Est. Income:</th>
            <td>$<?php echo $GLOBALS["income"]; ?></td></tr>
        <tr><th>Est. Expenses:</th>
            <td>$<?php echo $GLOBALS["expenses"]; ?></td></tr>
        <tr><th>Net:</th>
            <td><?php echo $GLOBALS["netincome"]; ?></td></tr>
        <tr><th>Loan Payment:</th>
            <td>$<?php echo $GLOBALS["loanpayment"]; ?></td></tr>
        <tr><th>Income Tax:</th>
            <td>$<?php echo gamefactor($GLOBALS["ti"]); ?></td></tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr><th>Savings Balance:</th>
            <td>$<?php echo $GLOBALS["users"]["savings"]; ?> (<?php echo $GLOBALS["savrate"]; ?>%)</td></tr>
        <tr><th>Loan Balance:</th>
            <td>$<?php echo $GLOBALS["users"]["loan"]; ?> (<?php echo $GLOBALS["loanrate"]; ?>%)</td></tr>
        </table>
    </td>
    <td style="vertical-align:top;width:33%">
        <table class="empstatus" style="width:100%">
        <tr><th colspan="2" class="era<?php echo $GLOBALS["users"]["era"]; ?>" style="text-align:center">Agriculture</th></tr>
        <tr><th>Est. Production:</th>
            <td><?php echo $GLOBALS["foodpro"]; ?></td></tr>
        <tr><th>Est. Consumption:</th>
            <td><?php echo $GLOBALS["foodcon"]; ?></td></tr>
        <tr><th>Net:</th>
            <td><?php echo $GLOBALS["foodnet"]; ?></td></tr>
        </table>
    </td>
</tr>
<?php if($GLOBALS["showstocks"]): ?>
<tr>
    <td colspan="1" style="vertical-align:top; width:33%"></td>
    <td colspan="1" style="vertical-align:top; width:33%">
    <table class="empstatus" style="width:100%">
        <tr><th colspan="2" class="era<?php echo $GLOBALS["users"]["era"]; ?>" style="text-align:center">Stocks</th></tr>
        <?php foreach($GLOBALS["stocks"] as $loop_stock_id): ?>
            <tr>
                <td style="text-align:left"><b><?php echo $loop_stock_id["name"]; ?></b> ($<?php echo $loop_stock_id["price"]; ?>):</td>
                <td style="text-align:right">$<?php echo gamefactor($loop_stock_id["total_worth"]); ?></td>
            </tr>
           <?php endforeach; ?>
    </table>
    </td>
    <td colspan="1" style="vertical-align:top; width:33%"></td>
</tr>
<?php endif; ?>
</table>
