<?php if($GLOBALS["trans"] != ""): ?>
    You have completed the transaction. Results:<br> <?php echo $GLOBALS["trans"]; ?>
    <hr>
<?php endif; ?>

<form method="post" action="<?php echo $GLOBALS["main"]; ?>?treasury<?php echo $GLOBALS["authstr"]; ?>">

<h2>Welcome to the <?php echo $GLOBALS["clan_name"]; ?> Shared Treasury <font size="1">(<?php echo $GLOBALS["nco"]; ?>)</font></h2>
<br><table class="inputtable">
    <tr><td colspan="3">
    <table class="empstatus" style="width:100%">
    <tr class="inputtable2"><th colspan="3" style="text-align:center">Gold</th></tr>
    <tr><th>Maximum:</th><td colspan="2">$<?php echo gamefactor($GLOBALS["limit_cash"]); ?></td></tr>
    <tr><th>Current:</th><td colspan="2">$<?php echo gamefactor($GLOBALS["curr_cash"]); ?></td></tr>
    </table></td>
    <td colspan="3">
    <table class="empstatus" style="width:100%">
    <tr class="inputtable2"><th colspan="3" style="text-align:center">Food</th></tr>
    <tr><th>Maximum:</th><td colspan="2"><?php echo gamefactor($GLOBALS["limit_food"]); ?></td></tr>
    <tr><th>Current:</th><td colspan="2"><?php echo gamefactor($GLOBALS["curr_food"]); ?></td></tr>
    </table></td>
    <td colspan="3">
    <table class="empstatus" style="width:100%">
    <tr class="inputtable2"><th colspan="3" style="text-align:center"><?php echo $GLOBALS["uera"]["runes"]; ?></th></tr>
    <tr><th>Maximum:</th><td colspan="2"><?php echo gamefactor($GLOBALS["limit_rune"]); ?></td></tr>
    <tr><th>Current:</th><td colspan="2"><?php echo gamefactor($GLOBALS["curr_rune"]); ?></td></tr>
    </table></td></tr>

<tr>
<th>Withdraw Gold</th>
    <td> <input type="text" name="cash_take" size="9"></td>
    <td> <input type="checkbox" name="ctmax" size="9"></td>
<th>Withdraw Food</th>
    <td> <input type="text" name="food_take" size="9"></td>
    <td> <input type="checkbox" name="ftmax" size="9"></td>
<th>Withdraw <?php echo $GLOBALS["uera"]["runes"]; ?></th>
    <td> <input type="text" name="rune_take" size="9"></td>
    <td> <input type="checkbox" name="rtmax" size="9"></td>
</tr>


<tr>
<th>Deposit Gold</th>
    <td> <input type="text" name="cash_give" size="9"></td>
    <td> <input type="checkbox" name="cgmax" size="9"></td>
<th>Deposit Food</th>
    <td> <input type="text" name="food_give" size="9"></td>
    <td> <input type="checkbox" name="fgmax" size="9"></td>
<th>Deposit <?php echo $GLOBALS["uera"]["runes"]; ?></th>
    <td> <input type="text" name="rune_give" size="9"></td>
    <td> <input type="checkbox" name="rgmax" size="9"></td>
</tr>

</tr>
</table><br><br>

<input type="submit" name="do_transaction" value="Complete Transaction">

<?php if($GLOBALS["officer"] == 1): ?>
<br><br>
<input type="submit" name="tres_ch_open" value="Make Treasury <?php echo $GLOBALS["tres_open"]; ?>">
<?php endif; ?>
</form>
